PORT=5000
NODE_ENV=development
MONGO_URI=mongodb+srv://portfolio:Portfolio12345@portfolio.n0hu4yt.mongodb.net/portfolio?retryWrites=true&w=majority
JWT_SECRET=394785afe7865765bea1d2ad9475b347a3ce26fe6be46a15b1ec816648e159bd
JWT_EXPIRE=7d
CLOUDINARY_CLOUD_NAME=dx4he6kej
CLOUDINARY_API_KEY=691741241634284
CLOUDINARY_API_SECRET=gsN7CafLLmaYpyxOvowo9dTCR9s